@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monofur";
  src: url("fonts/monofurnerdfontmono-regular-webfont.woff2") format("woff2"),
    url("fonts/monofurnerdfontmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --md-text-font: montserrat;
  --md-code-font: monofur;
  --md-code-hl-color--light: #4287ff;
}
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"] {
  --md-code-hl-color--light: #4287ff1a;
  --md-code-hl-color: #4287ff;
}

.md-typeset code,
.highlighttable .linenos {
  font-size: 0.9rem;
}

.highlight .hll {
  box-shadow: 2px 0 0 0 var(--md-code-hl-color) inset;
  background-color: var(--md-code-hl-color--light);
}

.md-typeset pre {
  display: flow-root;
  line-height: 1;
  position: relative;
}

.md-typeset code {
  background-color: var(--md-code-bg-color);
  border-radius: 0.2rem;
  box-decoration-break: clone;
  padding: 0.2rem;
  word-break: break-word;
}

.svg-container {
  display: inline-flex;
}

.svg-builtins {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.svg-builtins .svg-container {
  height: 24px;
  width: 10%;
}

.svg-builtins .svg-code {
  width: 90%;
}
